# Ignore all files with .class extension
*.class

# Ignore all files in the build/ directory
build/

# Ignore all files in the target/ directory (Maven)
target/

# Ignore IDE-related files and directories
.idea/
.vscode/